<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<ul>
  <li *ngFor="let person of contacts">{{person.name}}, {{person.location}}, {{person.age}}</li>
  <button *ngFor='let person of contacts' (click)='person.increment()'>Inc</button>
  <button *ngFor='let person of contacts' (click)='person.decrement()'>Dec</button>
  <button *ngFor='let person of contacts' (click)='person.change()'>Change</button>
</ul>

<!-- <input type="text" [(ngModel)]="contacts[0].name">

<p>{{contacts[0].name}}</p> -->